*{
    margin: 0;
    padding: 0;

}
.container{
    border: 1px solid white;
    margin: 1px;
    padding: 1px;

}
.block{
    border: 1px solid black;
    width: 200px;
    height: 450px;
    margin: auto;

}
.block1{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    top: 60px;
    left: 50px;
    border-radius: 100px;

}
.block2{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: relative;
    top: 70px;
    left: 50px;
    border-radius: 100px;


}
.block3{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    top: 80px;
    left: 50px;
    border-radius: 100px;


}