*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 5px;
    padding: 10px;
    border: 1px solid white;
    
}
.block1{
    border: 1px solid red ;
    width: 50px;
    height: 50px;
    position: fixed;
    left: 45px;
    top: auto;

}
.block2{
    border: 1px solid blue;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 120px;
    

}
.block3{
    border: 1px solid green;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 195px;

}